.weather-block{
    color: white;
    /* background: url(../../../assets/images/cloud.jpg) no-repeat center center; */
    background-size: cover;
}
.weather-c{
    background-color: rgba(255,255,255,0.9);
    background-image: linear-gradient(#093a6e, #002a40);
}
.sun{
    color: yellow;
    filter: drop-shadow(3px 3px 5px);
    animation: anim 3s linear infinite;
}
@keyframes anim {
    0%, 100%{
        transform: translateY(5px);
    }
    50%{
        transform: translateY(0px);
    }
}